.project-title-bar {
  text-align: center;
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* box-sizing: border-box; This is the key fix */
  display: flex;
  justify-content: space-between;
}
.project-title-bar img {
  width: 25px;
  height: 100%;
}
.project-title-bar #head-logo {
  flex: 1;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 900;
  background: linear-gradient(20deg, #04f514, #013bfc) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
@media (min-width: 768px) {
  .project-title-bar #head-logo {
    font-size: 2rem;
  }
  .project-title-bar img {
    width: 50px;
  }
}
